@font-face {
	font-family: 'icon-nois3';
	src:url('fonts/icon-nois3.eot?5voqj1');
	src:url('fonts/icon-nois3.eot?#iefix5voqj1') format('embedded-opentype'),
		url('fonts/icon-nois3.woff?5voqj1') format('woff'),
		url('fonts/icon-nois3.ttf?5voqj1') format('truetype'),
		url('fonts/icon-nois3.svg?5voqj1#icon-nois3') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icon-nois3';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'icon-nois3-new';
  src:  url('fonts/icon-nois3-new.eot?r00b3s');
  src:  url('fonts/icon-nois3-new.eot?r00b3s#iefix') format('embedded-opentype'),
    url('fonts/icon-nois3-new.ttf?r00b3s') format('truetype'),
    url('fonts/icon-nois3-new.woff?r00b3s') format('woff'),
    url('fonts/icon-nois3-new.svg?r00b3s#icon-nois3-new') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'n3';
	src:url('fonts/n3.eot?6k6ch8');
	src:url('fonts/n3.eot?#iefix6k6ch8') format('embedded-opentype'),
		url('fonts/n3.ttf?6k6ch8') format('truetype'),
		url('fonts/n3.woff?6k6ch8') format('woff'),
		url('fonts/n3.svg?6k6ch8#n3') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="n3-"], [class*=" n3-"] {
	font-family: 'n3';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.n3-tilde:before {
	content: "\e600";
}


.icon-facebook:before {
	content: "\e608";
}
.icon-twitter:before {
	content: "\77";
}
.icon-googleplus:before {
	font-family: 'icon-nois3-new' !important;
  content: "\e901";
}

.icon-instagram:before {
	font-family: 'icon-nois3-new' !important;
  content: "\e900";
}

.icon-pinterest:before {
	content: "\e604";
}
.icon-arrow-left:before {
	content: "\e600";
}
.icon-arrow-down:before {
	content: "\e601";
}
.icon-arrow-up:before {
	content: "\e602";
}
.icon-arrow-right:before {
	content: "\e603";
}
.icon-skype:before {
	content: "\e60b";
}
.icon-mobile:before {
	content: "\e60c";
}
.icon-phone:before {
	content: "\e60d";
}
.icon-paperplane:before {
	content: "\e60e";
}
.icon-heart:before {
	content: "\e607";
}

.icon-nois3 {
	text-indent: -999999px;
	position: relative;
	display: inline-block;
}

.icon-nois3:before {
	text-indent: 0;
	content: "\e606";
	position: absolute;
	top:0;
	left:0;
}
.icon-github:before {
	content: "\e605";
}
.icon-tumblr:before {
	content: "\e611";
}
.icon-linkedin:before {
	content: "\e612";
}
.icon-dribbble:before {
	content: "\e613";
}
.icon-behance:before {
	content: "\e614";
}
.icon-spotify:before {
	content: "\e615";
}
.icon-vimeo:before {
	content: "\e616";
}
.icon-instagram:before {
	content: "\e617";
}
.icon-location:before {
	content: "\e610";
}
.icon-tilde:before {
	content: "\e609";
}
.icon-arrow-round-down-big:before {
	content: "\e618";
}
.icon-arrow-round-up-big:before {
	content: "\e619";
}
.icon-arrow-round-up:before {
	content: "\e61c";
}
.icon-arrow-round-down:before {
	content: "\e61d";
}
.icon-arrow-round-left:before {
	content: "\e61e";
}
.icon-arrow-round-right:before {
	content: "\e61f";
}
.icon-arrow-round-left-big:before {
	content: "\e61a";
}
.icon-arrow-round-right-big:before {
	content: "\e61b";
}
.icon-bubbles:before {
	content: "\e620";
}
.icon-share:before {
	content: "\e622";
}
.icon-external-link:before {
	content: "\e621";
}
.icon-options:before {
	content: "\e60f";
}
.icon-grid:before {
	content: "\e623";
}
.icon-list:before {
	content: "\e624";
}
.icon-frontend:before {
	content: "\e625";
}
.icon-experience:before {
	content: "\e626";
}
.icon-brand-strategy:before {
	content: "\e627";
}
.icon-training:before {
	content: "\e628";
}
.icon-event:before {
	content: "\e629";
}

@font-face {
	font-family: 'dashboard';
	src:url('fonts/dashboard.eot?-6s8pv9');
	src:url('fonts/dashboard.eot?#iefix-6s8pv9') format('embedded-opentype'),
		url('fonts/dashboard.woff?-6s8pv9') format('woff'),
		url('fonts/dashboard.ttf?-6s8pv9') format('truetype'),
		url('fonts/dashboard.svg?-6s8pv9#dashboard') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="dashboard"], [class*=" dashboard"] {
	font-family: 'dashboard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dashboard-backlog:before {
	content: "\e603";
}
.dashboard-issues:before {
	content: "\e60a";
}
.dashboard-google-drive:before {
	content: "\e600";
}

.dashboard-web:before {
	content: "\e606";
}


a[href*=".jpg"]:before,
a[href*=".png"]:before,
a[href*=".gif"]:before {
	content: "\e601";
	font-family: 'dashboard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:30px;
}

a[href*=".doc"]:before,
a[href*=".ods"]:before,
a[href*=".rtf"]:before,
a[href*=".txt"]:before,
a[href*=".xls"]:before {
	content: "\e602";
	font-family: 'dashboard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:30px;
}
a[href*=".pdf"]:before {
	content: "\e604";
	font-family: 'dashboard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:30px;
}
a[href*=".zip"]:before {
	content: "\e605";
	font-family: 'dashboard';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size:30px;

}
