html {
  margin: 0;
  padding: 0;
}

.large-hero {
  position: relative;
}

.large-hero img {
  width: 100%;
  height: auto%;
}

.large-hero__content {
  position: absolute;
  top: 0;
  left: 0;
}

.large-hero__content header {
  margin: 20px 20px;
}

header a span.logo {
  font-size: 62px;
  margin: 80px 0 0 0;
  color: #fff;
  display: inline;
}

header a span.logo .icon-nois3 {
  position: relative;
}

header .switcher {
  position: absolute;
  top: 50px;
  left: 220px;
}

header .switcher a {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 16px;
  line-height: 20px;
}

header div.brand {
  margin-left: 50px;
}

nav, nav ul{
  display: inline;
}

/*NAV*/

nav ul li {
  float: left;
  padding-right: 20px;
  list-style: none;
  text-transform: uppercase;
}

nav ul li a {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  padding: 2px;
}

nav ul li a:hover {
  border: 1px solid #fff;
  border-radius: 2px;
}