.bird-box{
    position: relative;
    height: 600px;
    background-image: url("../images/bird-bg.jpg");
    background-size: auto 600px;
    background-attachment: fixed;
}

.logo{
    height: 100px;
    width: 100%;
    background-image: url(../images/black-bird-logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

section{
section{
    height: 1000px;
}